@import url(./reset.css);

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/manrope/static/Manrope-Regular.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/manrope/Manrope-VariableFont_wght.ttf)
    format('woff2');
}

:root {
  --navy: #24053e;
  --lime: #44ffa1;
  --light-navy: #584d62;
  --gray: #fcf8ff;
  --white: #fff;
}

body {
  font-family: 'Manrope', sans-serif;
}

/* MOBILE */

.header {
  background-color: var(--navy);
  padding: 2.25rem 1rem;
  display: flex;
  justify-content: space-between;
}

.header__link {
  font-weight: bold;
  color: var(--white);
  letter-spacing: -0.01rem;
  text-decoration: underline 3px var(--lime);
  text-underline-offset: 8px;
}

.hero {
  padding: 0 1rem;
  background-color: var(--navy);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero__title {
  font-family: 'Fraunces', serif;
  color: var(--white);
  text-align: center;
  font-size: 3.125rem;
  line-height: 3.125rem;
  white-space: normal;
  padding: 2rem 0;
}
.hero__title mark {
  background-color: transparent;
  color: var(--white);
  position: relative;
}
.hero__title mark::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 3px solid var(--lime);
}
.hero__cta {
  margin-top: 0.5rem;
  padding: 0.9375rem 1.5rem;
  color: var(--navy);
  background-color: var(--lime);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
  border: none;
}

.hero__image-wrapper {
  padding-left: 1.1875rem;
  padding-right: 0.1875rem;
  transform: translateY(4.0625rem);
  z-index: 2;
}
.hero__image {
  width: 100%;
}

.hero__wave {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: var(--gray);
}

.features {
  background: var(--gray);
  position: relative;
  padding: 7.9375rem 0 6.5625rem;
}
.features__content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.features__list {
  counter-reset: feature-counter;
  display: flex;
  gap: 2.375rem;
  flex-direction: column;
}
.feature {
  display: flex;
  counter-increment: feature-counter;
  flex-direction: column;
  align-items: center;
}
.feature::before {
  content: counter(feature-counter);
  font-size: 1.25rem;
  font-family: 'Fraunces', serif;
  border: 1px solid var(--navy);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 3rem;
  width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  color: var(--navy);
}

.feature__title {
  font-family: 'Fraunces', serif;
  font-size: 1.75rem;
  color: var(--navy);
  margin: 1.6875rem 0 1.125rem;
  text-align: center;
}

.feature__description {
  font-size: 1rem;
  color: var(--navy);
  line-height: 1.75rem;
  text-align: center;
}

.features__wave {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: var(--white);
}

.test-invitation {
  padding: 4.1875rem 1rem 0;
  text-align: center;
}

.test-invitation__content {
  background-color: var(--navy);
  color: var(--white);
  padding: 2rem 1.9375rem;
  position: relative;
  margin-top: -3.3125rem;
}

.test-invitation__title {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  line-height: 3rem;
}

.test-invitation__profile-wrapper {
  padding: 0 1.9375rem;
}
.test-invitation__text {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  margin: 1rem 0 1.5rem;
}
.test-invitation__cta {
  padding: 0.9375rem 1.5rem;
  color: var(--navy);
  background-color: var(--lime);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
  border: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5625rem;
  padding: 4.625rem 0 3.9375rem;
}

.footer__social-media {
  display: flex;
  list-style: none;
  gap: 1.75rem;
  align-items: center;
}
.footer__link {
  cursor: pointer;
}

/* TABLETY */

@media screen and (min-width: 48rem) {
  .header {
    padding: 36px 40px;
  }
  .hero__title {
    font-size: 60px;
    line-height: 60px;
    max-width: 480px;
    padding: 24px 0;
  }
  .hero__cta {
    margin-top: 16px;
  }

  .hero__image-wrapper {
    max-width: 514px;
    margin-left: 48px;
    padding: 0;
    transform: translateY(55px);
  }
  .hero__wave {
    height: 230px;
  }

  .features {
    padding: 115px 0 150px;
  }
  .features__content {
    max-width: 573px;
    z-index: 2;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  .features__list {
    gap: 51px;
  }
  .feature {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 31px;
    text-align: left;
    grid-template-areas:
      'a b'
      'a c';
  }
  .feature::before {
    grid-area: a;
  }
  .feature__title {
    grid-area: b;
    margin: 0px 0 18px 0;
    text-align: left;
  }
  .feature__description {
    grid-area: c;
    text-align: left;
  }
  .features__wave {
    height: 140px;
  }
}
