@import url(./reset.css);

:root {
  --nutmeg: #854632;
  --dark-raspberry: #7b284f;

  --white: #ffffff;
  --rose-white: #fff5fa;
  --eggshell: #f3e6d8;
  --light-grey: #e4ded8;
  --wenge-brown: #5f574e;
  --dark-charcoal: #302d2c;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--eggshell);
}

/* GLOBAL */

.recipe {
  background-color: var(--white);
}

.recipe__content {
  padding: 0 2rem 2.5rem 2rem;
}

.recipe__subtitle {
  font-family: 'Young Serif', sans-serif;
  font-size: 1.75rem;
  color: var(--nutmeg);
  font-weight: 400;
  margin-bottom: 1.375rem;
}

/* HEADER */

.recipe__image-wrapper {
  height: 10.6875rem;
  overflow: hidden;
}
.recipe__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipe__header {
  margin-top: 2.375rem;
}
.recipe__title {
  font-size: 2.25rem;
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
  white-space: normal;
  color: var(--dark-charcoal);
  line-height: 2.3125rem;
}
.recipe__description {
  margin-top: 1.5rem;
  color: var(--wenge-brown);
}

/* DETAILS SECTION */

.recipe__details {
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
  background-color: var(--rose-white);
  border-radius: 0.75rem;
  margin-top: 2rem;
}

.recipe__details-subtitle {
  color: var(--dark-raspberry);
  font-size: 1.25rem;
  font-weight: 600;
}
.recipe__time-list {
  color: var(--wenge-brown);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1.5rem;
  margin-top: 0.875rem;
}
.recipe__time-item {
  padding-left: 1rem;
}
.recipe__time-item::marker {
  color: var(--dark-raspberry);
}

/* INGREDIENTS SECTION */

.recipe__ingredients {
  margin-top: 2rem;
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 1.875rem;
}

.recipe__ingredients-list {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--wenge-brown);
}
.recipe__ingredients-item {
  padding-left: 1.0625rem;
}
.recipe__ingredients-item::marker {
  color: var(--nutmeg);
}

/* INSTRUCTION SECTION */

.recipe__instructions {
  margin-top: 2rem;
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 1.875rem;
}

.recipe__steps-list {
  margin-left: 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--wenge-brown);
}
.recipe__steps-item {
  padding-left: 0.9375rem;
}

.recipe__steps-item::marker {
  color: var(--nutmeg);
  font-size: 1rem;
  font-weight: 700;
}

/* NUTRITION SECTION */

.recipe__nutrition {
  margin-top: 2rem;
}

.recipe__nutrition-table {
  width: 100%;
  margin-top: 1.375rem;
  color: var(--wenge-brown);
}
.recipe__nutrition-table tbody {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
}

.recipe__nutrition-description {
  color: var(--wenge-brown);
}

.recipe__nutrition-header {
  text-align: left;
  padding-left: 1.875rem;
  flex-basis: 48%;
  color: var(--nutmeg);
  font-weight: 400;
}
.recipe__nutrition-data {
  flex-basis: 50%;
  padding-left: 0.875rem;
  color: var(--nutmeg);
  font-weight: 800;
}
.recipe__nutrition-row {
  display: flex;
  padding-bottom: 0.625rem;
}
.recipe__nutrition-row:not(:last-child) {
  border-bottom: 1px solid var(--light-grey);
}

@media screen and (min-width: 48rem) {
  body {
    display: flex;
    justify-content: center;
  }
  main {
    padding: 7.6875rem 0;
  }
  .recipe {
    width: 46rem;
    border-radius: 1.5rem;
    padding: 2.5rem;
  }
  .recipe__image-wrapper {
    border-radius: 0.75rem;
    height: 18.75rem;
  }
  .recipe__content {
    padding: 0;
  }

  .recipe__title {
    margin-top: 2.625rem;
    font-size: 2.5rem;
  }

  .recipe__details {
    padding: 1.6875rem 2.5rem 1.875rem 1.75rem;
  }
  .recipe__nutrition-data {
    padding-left: 1.3125rem;
  }
}
