@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-yellow: hsl(47, 88%, 63%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grey: hsl(0, 0%, 50%);
  --neutral-black: hsl(0, 0%, 7%);
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--primary-yellow);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.card {
  background-color: var(--neutral-white);
  padding: 24px;
  border-radius: 20px;
  border: 1px solid var(--neutral-black);
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 384px;
  color: var(--neutral-black);
  box-shadow: 8px 8px var(--neutral-black);
  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;
}
.card:hover {
  box-shadow: 16px 16px var(--neutral-black);
}
.card:hover .card__title {
  color: var(--primary-yellow);
}

.card .card__image-wrapper {
  border-radius: 10px;
  height: 200px;
  overflow: hidden;
}

.card .card__image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.card .card__post-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.card .card__post-label {
  background-color: var(--primary-yellow);
  border-radius: 4px;
  padding: 4px 12px;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
}

.card .card__publish-date {
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
}

.card .card__title {
  font-weight: 800;
  line-height: 150%;
  font-size: 24px;
  transition: color 0.1s ease-in-out;
}

.card .card__short-description {
  font-weight: 500;
  font-size: 16px;
  color: var(--neutral-grey);
  line-height: 150%;
}

.card .card__author {
  display: flex;
  align-items: center;
  gap: 12px;
}
.card .card__author-image-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.card .card__author-image-wrapper img {
  width: 100%;
}

.card .card__author-name {
  font-weight: 800;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 20px;
  }
  .card {
    max-width: 327px;
  }
  .card .card__post-label {
    font-size: 12px;
  }
  .card .card__publish-date {
    font-size: 12px;
  }
  .card .card__title {
    font-size: 20px;
  }
  .card .card__short-description {
    font-size: 14px;
  }
}
