@import url(./reset.css);

:root {
  --blue: hsl(223, 87%, 63%);
  --blue-lighter: hsla(223, 87%, 63%, 15%);
  --lavender: hsl(223, 87%, 70%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --white: hsl(0, 0%, 100%);

  --mobile-width: 23.438rem;
  --desktop-width: 40rem;
}

body {
  background-color: var(--white);
  font-family: 'Libre Franklin', sans-serif;
  position: relative;
}

/* HEADER */

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--mobile-width);
  margin: 0 auto;
}
.logo-wrapper {
  margin: 5rem 0 1.25rem;
  max-width: 3.375rem;
}
.logo-wrapper img {
  width: 100%;
}

/* MAIN CONTAINER */

.container {
  max-width: var(--mobile-width);
  margin: auto;
  padding: 0 1.6875rem 8.125rem 1.6875rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem 0.5rem;
}

.hero-section__title {
  font-size: 1.375rem;
  font-weight: 300;
  color: var(--gray);
  margin: 0.625rem 0;
}
.hero-section__title span {
  font-weight: 800;
  color: var(--very-dark-blue);
}

.hero-section__subtitle {
  margin: 0.5625rem 0;
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--very-dark-blue);
}

.subscription-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 0.6875rem;
  font-size: 0.75rem;
  flex-wrap: wrap;
  position: relative;
}

.subscription-form__input {
  height: 2.5rem;
  border-radius: 1.75rem;
  border: 0.0625rem solid var(--pale-blue);
  line-height: 1.25rem;
  padding-left: 2rem;
  margin-bottom: 0.3125rem;
  transition: border 150ms ease-out;
}
.subscription-form__input:focus {
  outline: none;
  border: 0.0625rem solid var(--lavender);
}
.subscription-form__input::placeholder {
  font-weight: 300;
  color: var(--pale-blue);
}
.subscription-form__button {
  margin-top: 0.3125rem;
  background-color: var(--blue);
  border: none;
  height: 2.5rem;
  border-radius: 1.5rem;
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
  transition: background-color 150ms ease-out;
  box-shadow: 0 5px 10px 2px var(--blue-lighter);
}
.subscription-form__button:hover,
.subscription-form__button:focus {
  background-color: var(--lavender);
}
.subscription-form__error {
  display: none;
  font-size: 10px;
  font-style: italic;
  text-align: center;
  color: var(--light-red);
  letter-spacing: 0.13px;
  margin-bottom: 16px;
}

.main-image-wrapper {
  padding: 2.125rem 0;
}

/* FORM ERROR STYLES */
.error > .subscription-form__error {
  display: block;
}
.error > .subscription-form__input {
  border: 0.0625rem solid var(--light-red);
}

/* FOOTER */

.site-footer {
  max-width: var(--mobile-width);
  margin: 0 auto;
  padding: 2rem 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
}
.social-links {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 0.75rem;
  padding-bottom: 0.8125rem;
}
.social-links li {
  width: 2rem;
  height: 1.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  border: 0.0625rem solid var(--blue-lighter);
  border-radius: 50%;
}

.copyrights {
  color: var(--gray);
  padding-top: 0.8125rem;
  font-size: 0.625rem;
  font-weight: 300;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 48rem) {
  /* HEADER */

  .site-header {
    max-width: var(--desktop-width);
  }

  .logo-wrapper {
    max-width: 5.625rem;
  }
  /* MAIN CONTAINER */
  .container {
    max-width: var(--desktop-width);
    padding: 0 0 8.125rem 0;
  }
  .hero-section {
    padding: 1.25rem 0rem;
  }
  .hero-section__title {
    font-size: 3rem;
  }
  .hero-section__subtitle {
    font-size: 1.25rem;
  }
  .subscription-form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2.0625rem 0;
    font-size: 1rem;
  }
  .subscription-form__input {
    margin-bottom: 0;
    min-width: 26.3125rem;
    height: 3.5rem;
  }
  .subscription-form__button {
    margin-top: 0;
    min-width: 12.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
  }
  .subscription-form__error {
    position: absolute;
    left: 32px;
    bottom: -8px;
    font-size: 12px;
  }
}
